body{
    background-color:hsla(50, 80%, 70%, 1);
    width: 100vw;
    height: 100vh;
    margin:0;
    box-sizing: border-box;
    user-select: none;
}
* {
    box-sizing: inherit;
    user-select: inherit;
}
.header {
    display: block;
}
.flex-center {
    display: flex;
    justify-content: center;    
}
.grid-center {
    display: grid;
    justify-content: center;    
}

.display-lg {
    display: none;
}

.menu {
    grid-template: auto / minmax(250px, 425px);
    grid-row-gap: 5px;
}
.btn-container {
    display: flex;
    justify-content: space-evenly;
}
.btn-container .btn{
    background-color: #2c3e50;
    color:#fff;
    flex-basis: 15%;
    border-radius: 5%;
    font-size: 2em;
    cursor: pointer;
}
p {
    margin:0;
}
.factor-row{
    grid-template-columns: 80% 20%;
    padding: 0 1%;
}
.factors{
    height: 2em;
    background: hsl(120, 13%, 60%);
    border-radius: 2%;
}
.factor-value{
    border: 2px solid #55555555;
    background-color: #444;
    color: #DDD;     
    /* background-color:darkslategray;
    color: white; */
    font-size: 1.8em;
    align-items: center;
    border-radius: 10%;
    cursor: pointer;
    margin: 0 1px;
    
}
.tile > p {
    pointer-events: none;
}
.operator {
    font-size: 1.2em;
    align-items: center;
    border-radius: 10%;
    cursor: pointer;
    margin: 0 1px;
    pointer-events: none;
}
.factors > .factor-tile:last-child > .operator:last-child{
    /* color:blue; */
    /* opacity: 0.1;  */
    display: none; 
}

.result-col {
    height: 2em;    
    border-radius: 5%;
    background-color: #333;
    color: #DDD; 
    pointer-events: none;
}
.result {
    font-size: 1.8em;
    align-items: center;
}
.tile{
    background-color: rgba(240, 128, 128, 0.74);
    border: 2px solid rgba(19, 143, 184, 0.281);
    height: 75px;
    width: 75px;
    font-size: 2em;
    align-items: center;
    border-radius: 5%;
    cursor: crosshair; 
    align-self: center;
    /* justify-self: center; */
    margin: 0 auto;
}
.tile-selected {
    border: 2px solid rgba(19, 143, 184, 1);
}
.hidden {
    opacity: 0.2;
    pointer-events: none;
}
/* .hidden p {
    display: none;
} */
.is-sum {
    background-color: rgb(19, 143, 184);
    color: white;
    border: 2px solid rgba(240, 128, 128, 0.4);    
}
.tile-selected.is-sum{
    border: 2px solid white;
}
.completed-tile{
    background-color: white;
    border: 2px solid black;
    color: black;
    pointer-events: none;
}
.submission {
    grid-template: auto / minmax(250px, 425px);
    height: 30px;
    margin: 3px 0; 
}
.submission button {
    color: white;
    background-color: steelblue;
    outline: none;
    border: 1px solid rgba(0, 0, 128, 0.2);
    margin: 0 5px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
}
.greenlight{
    /* background-color: greenyellow; */
    /* color: rgb(64, 255, 47);
     */
    background-color: rgb(19, 143, 184);
    color: white;
}
@media(min-width: 700px) {
#app{
    display: grid;
    grid-template: auto/ 1fr repeat(2, minmax(auto, 20em)) 1fr;
    margin:0;
}

.grid{
    grid-column: 2/4;
}
.display-lg {
    display: block;
}
.display-sm {
    display: none;
}
.tile {
    height: 75px;
    width: 75px;    
}
}